<% if @user.id == current_user.id %>
  <h1><%= @user.user_name %>'s Profile Page</h1>
  <div class="row">
    <div class="col-md-8">
      <p class="lead">These are your profile settings:</p>
      <ul>
        <li>Email: <%= @user.email %></li>
        <li>Plan: <%= link_to @user.role.capitalize, root_path, title: "Your plan features" %></li>
      </ul>
    </div>
    <div class="col-md-4">
      <%= render partial: 'layouts/right_sidebar' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Your wikis</h2>
      <%= render partial: 'wikis/wikis_table', locals: { wikis: @user.wikis } %>
    </div>
    <div class="col-md-6">
      <h2>Collaborations <small>through wiki_collaborations association</small></h2>
      <table class="table table-bordered">
        <th></th>
        <th>title</th>
        <th>created at</th>
        <th>wiki author</th>
        <% @user.wiki_collaborations.each do |collaboration| %>
          <tr>
            <td><small><%= collaboration.private ? "private" : "public" %></small></td>
            <td><%= link_to collaboration.title, wiki_path(collaboration.id) %></td>
            <td><small><%= collaboration.created_at.strftime("%B %d, %Y") %></small></td>
            <td><%= @users.find(collaboration.user_id).user_name %></td>
            <td><%= link_to "edit", edit_wiki_path(collaboration.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <h1>Attention! You're trying to view the profile page of another user.</h1>
  <p><%= link_to "back to your profile", user_path(current_user.id) %></p>
<% end %>
