<table class="table table-bordered table-hover">
  <tr class="bg-info">
    <th></th>
    <th>wiki title</th>
    <th>created at</th>
    <th></th>
    <th></th>
  </tr>
  <% wikis.each do |wiki| %>
    <% if current_user %>
      <% unless wiki.user_id == current_user.id %>
        <tr class="active">
          <td><small><%= wiki.private ? "private" : "public" %></small></td>
          <td><%= link_to wiki.title, wiki_path(wiki.id), title: "Read this wiki." %></td>
          <td><small><%= wiki.created_at.strftime("%B %d, %Y") %></small></td>
          <td><%= content_tag :span, "edit", class: 'text-muted' %></td>
          <td><%= content_tag :span, "delete", class: 'text-muted' %></td>
        </tr>
      <% end %>
    <% else %>
      <tr class="active">
        <td><small><%= wiki.private ? "private" : "public" %></small></td>
        <td><%= link_to wiki.title, wiki_path(wiki.id), title: "Read this wiki." %></td>
        <td><small><%= wiki.created_at.strftime("%B %d, %Y") %></small></td>
        <td><%= content_tag :span, "edit", class: 'text-muted' %></td>
        <td><%= content_tag :span, "delete", class: 'text-muted' %></td>
      </tr>
    <% end %>
  <% end %>
</table>
