<h1>
  <%= @wiki.title %>
  <% if @wiki.private %>
    <small class="private-wiki">private wiki</small>
  <% else %>
    <small class="public-wiki">public wiki</small>
  <% end %>
</h1>
<% if user_signed_in? %>
  <p class="author-info">created by <%= @wiki.user.user_name %> at <%= @wiki.created_at.strftime("%B %d, %Y") %></p>
<% end %>

<% if user_signed_in? && (@wiki.user == current_user || @wiki.users.include?(current_user)) %>
  <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-primary' %>
<% end %>

<% if user_signed_in? && @wiki.user == current_user %>
  <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <% if user_signed_in? %>
      <p class="lead">
        <%= markdown_to_html(@wiki.body) %>
      </p>
    <% else %>
      <p class="alert">Attention: You need to be <%= link_to "signed in", new_user_session_path %> to read wikis.</p>
    <% end %>
  </div>
  <%= render partial: 'layouts/right_sidebar' %>
</div>
